@charset "ISO-8859-1";

h1 {
	margin-left: 10%;
	margin-top: 2%;
	
}

h2 {
	margin-left: 10%;
}

.flash {
    text-align: center;
    color: red;
}

.columns{
    display: inline-flex;
    flex-direction: column;
    
}
.left {
	margin-left: 10%;
}

.right{
	margin-right: 10%;
	margin-left: 50%;
}

form {
	display:flex;
	flex-direction: column;
}
